**/*.log
**/*.cache
**/._*
**/.DS_Store
**/Thumbs.db
.git/
.github/
.devcontainer/
docs/
app/.env.local
app/.env.local.php
app/.env.*.local
app/.phpunit.cache/
app/public/assets/
app/public/bundles/
app/tests/
app/var/
app/vendor/
