**/*.log
**/*.cache
**/._*
**/.DS_Store
**/Thumbs.db
.git/
.github/
.devcontainer/
docs/
backend/.env.local
backend/.env.local.php
backend/.env.*.local
backend/.phpunit.cache/
backend/public/bundles/
backend/tests/
backend/var/
backend/vendor/
frontend/dist/
frontend/node_modules/
