/.env
/.env.local

/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/bundles/
/backend/var/
/backend/vendor/
/backend/.php-cs-fixer.php
/backend/.php-cs-fixer.cache
/backend/phpstan.neon
/backend/phpunit.xml
/backend/.phpunit.cache/

/frontend/dist/
/frontend/node_modules/
