includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: 6

    paths:
        - bin/
        - config/
        - public/
        - src/
        - tools/

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    doctrine:
        objectManagerLoader: tools/phpstan/object-manager.php

services:
    -
        class: FluidWeb\PHPStan\SymfonyKernelAlwaysUsedMethodExtension
        tags:
            - phpstan.methods.alwaysUsedMethodExtension
